# Auto detect text files and perform LF normalization
* text=auto
*.c linguist-detectable=false
*.make linguist-detectable=false
*.cmake linguist-detectable=false
*/**/cmake-build-debug/* linguist-vendored
